 *{
 margin: 0px;  padding: 0px;
 box-sizing: border-box;
 /* user-select: none; */
 text-decoration: none; list-style: none;
 overflow: hidden;
 input{ padding: 10px; font-size: 17px; font-weight: bolder; }
 button{ cursor: pointer;  background-color: white;  border: 1px solid red }
 img{  width : 100%; height : 100%;   pointer-events: none;    }
}

body{
    width : 100%;height: 100vh; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
.main ,#fir{ 
    width : 100%;height: 100%; 
}

h1{
    width : 100%;height: 15vh;
    display : grid ; place-items : center ; 
    background-color: black;
    color: wheat;
} 
#fir{ 
    display : flex;
}
#fir>div{
    border-right:5px solid rgb(0, 0, 0);
    width : 50%;height : 100%;
    padding: 20px;
}

#movie,#meal{
    width : 100%;height: 250px; 
    input{
        width : 100%;font-size: 17px;
    }
}
 
#render{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    overflow: scroll;
    background-color: rgb(236, 236, 236);
}
#render > div {
    padding: 5px;height: 200px;
    border-radius: 5px;
    border:2px solid rgb(227, 227, 227);
}
#render > div > img {
    width : 100%;height: 100px;
}
#suggest{
    width : 100%;height: 150px;
}  
#suggest,#render::-webkit-scrollbar{
    display: none;
}

#suggest1{
    width: 100%;height: 150px; 
}